* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, #edf4ff 0%, #f9fbff 100%);
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}